<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Collection: <%= collection.name %></title>
</head>
<body>
  <h1>Collection: <%= collection.name %></h1>
  <h2>Products in this collection:</h2>
  <ul>
    <% collectionProducts.forEach((product) => { %>
      <li>
        <a href="/product/<%= product.id %>"><%= product.name %></a> - $<%= product.price %>
      </li>
    <% }); %>
  </ul>
</body>
</html>
